# Ignore checkpoints directory
checkpoints/

# Ignore data directory (if large datasets are stored here)
data/
results/
model/vit_checkpoint/imagenet21k/R50+ViT-B_16.npz
ResVit.zip
# Ignore any files related to logs or temporary outputs
*.txt
*.log

# Ignore weights and model files (if they are saved with extensions like .h5, .pth, etc.)
*.h5
*.pth

"model/vit_checkpoint/imagenet21k/R50+ViT-B_16.npz" 
"model/vit_checkpoint/imagenet21k/R50+ViT-B_16.npz" 
